@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Rental</h1>
    <p class="lead">Find, Compare and Get the Ideal Car for the Best Price!</p>
    <div class="container search-form">
        <div class="row ">
            @using (Html.BeginForm("Index", "Cars", FormMethod.Get))
            {
                <div class="form-inline">
                    <div class="form-group">
                        @Html.TextBox("SearchLocation", null, new { @class = "form-control", @placeholder = "Pickup Location", @autofocus = "autofocus" })
                    </div>
                    <div class="form-group">
                        @Html.TextBox("SearchCarModel", null, new { @class = "form-control", @placeholder = "Car Model" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-info form-control btn-search-car loading" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search & Get the Car</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta nisi egestas urna luctus, vitae efficitur dui ultricies.
            Aenean eleifend sapien sem, et luctus nulla ultricies eget. Proin pellentesque lacinia tempor. Nulla viverra erat nisi, dictum luctus quam molestie ac.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Compare Prices</h2>
        <p>
            Proin id nunc vulputate, feugiat turpis vitae, malesuada enim. Duis mollis magna quis risus faucibus bibendum.
            Integer commodo ut quam at venenatis. Donec ac nibh sagittis est sagittis mattis et ac felis. Curabitur sed sodales massa, varius dignissim erat.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Rate the Services</h2>
        <p>
            Nullam sit amet mi quis orci tempor convallis ut id ante. Nulla eget eros feugiat, aliquet sem vel, lacinia nibh.
            Morbi ultricies mollis nisi, eu volutpat lorem condimentum in.
            Quisque ultricies iaculis dui eu viverra. Sed cursus ornare metus, a volutpat libero sodales ac.
        </p>
    </div>
</div>